Source: module-vtun
Section: embedded
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: debhelper-compat (= 13), robotkernel-dev (>=6), service-provider-process-data-inspection-dev (>=6)
Standards-Version: 4.5.1
Homepage: https://www.burger-system.de/robotkernel/module_vtun
Vcs-Browser: https://github.com/robotkernel-hal/module_vtun.git
Vcs-Git: https://github.com/robotkernel-hal/module_vtun.git
Rules-Requires-Root: no

Package: module-vtun
Architecture: any
Multi-Arch: same
Depends: robotkernel ${misc:Depends}
Description: Robotkernel module to generate deterministic triggers for other modules.
  It supports three different modes. 
  nanosleep: In this mode the **module_vtun** main thread just does a nanosleep until the period time has been elapsed. If the nanosleep call was interrupted by some signal it will sleep until the calculated period end time has been reached. This mode is easy and efficient as well. The **module_posix_timer*** thread should run at a very high priority to ensure, that it will be waken up when it's necessary. 
  vtun: This mode creates a timer with timer_create. It configures the timer and connects it to the given signal number from the configuration string. 
  busywait: In busywait the timer threads does active wait on the cpu and consumes all cpu time. This can cause higher power consumption and higher temperature (But on a PREEMPT-RT system that should not matter). 
